[submodule "growi-docker-compose"]
	path = growi-docker-compose
	url = https://github.com/weseek/growi-docker-compose.git
[submodule "kompose"]
	path = kompose
	url = https://github.com/kubernetes/kompose
